* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8F5E9;
    color: #121212;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    padding-bottom: 0;
}

form {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px #81C784;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    background-color: #dcf0dd;
    border-radius: 10px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #388E3C;
}

h1 {
    padding-bottom: 10px;
    text-shadow: 0 4px 8px #81C784;
    text-align: center;
}

.resultado {
    margin-top: 5px;
    font-size: 1.1em;
    color: #2E7D32;
    background-color: #f1f8e9;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    
}
